<main class="mt-5">
    <div class="containe">
        <div class="card mx-auto" style="width: 500px;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 " src="/img/Elec.jpg" alt="logo" style="width: 450px; 
                height:150px; display:block; ">
                <h3 class="text-uppercase text-center p-4">CRUD Para la Evidencia</h3>
            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta exercitationem excepturi eaque ipsa optio. Repellat in, fugit eveniet doloribus officia dolore qui fuga eligendi aperiam.</p>
                <a href="/add" class="btn btn-primary">crear una persona</a>
            </div>
        </div>
    </div>
</main>